<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <img class="logo" src="assets/icon/logo.png" alt="">
    </ion-buttons>

    <ion-button slot="end" fill="clean">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Stories -->
  <div class="stories">
    <div class="story">
      <div class="add_story">
        <img src="assets/usuarios/1.jpg">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p style="color: #86888f;">glaubersk</p>
    </div>

    <div *ngFor="let usuario of stories">
      <div class="story">
        <div class="img-box">
          <img src="{{ usuario.img }}">
        </div>
        <p>{{ usuario.nome }}</p>
      </div>
    </div>    
  </div>
  <hr>
</ion-content>